# This is a continuous build CircleCI configuration for a Docker container
# intended to bulid on CircleCI to spread out testing over Travis/Circle.
# The container is built and pushed to the CONTAINER_NAME variable
# defined here or within the CircleCI settings. The following environment
# variables are acceptable here or in these settings (for sensitive information)
#
# CONTAINER_NAME if not set, will use Github repo and organization name 
# DOCKER_USER
# DOCKER_EMAIL
# Dockerfile optional, if the path is different than the Dockerfile in $PWD

################################################################################
# Functions
################################################################################

# Defaults

defaults: &defaults
  working_directory: /tmp/src


# Installation

install: &install
    name: Install parallel gzip, gettext, python3, and jq
    command: apk add --no-cache pigz python3 gettext jq

# Environment

sourceenv: &sourceenv
    name: Source environment variables from the BASH_ENV
    command: source $BASH_ENV 


# Docker

dockerenv: &dockerenv
    name: Define container and Docker names
    command: |
        # If not set, define DOCKER_TAG
        if [ ! -n "${DOCKER_TAG:-}" ]; then
            DOCKER_TAG=$(echo "${CIRCLE_SHA1}" | cut -c1-10)
        fi
        # If not set, define CONTAINER_NAME
        if [ ! -n "${CONTAINER_NAME:-}" ]; then
            CONTAINER_NAME="${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}"
        fi
        # If not set, define Dockerfile to be in $PWD
        if [ ! -n "${DOCKERFILE:-}" ]; then
            DOCKERFILE=Dockerfile
        fi
        echo "Container name is ${CONTAINER_NAME}"
        # export to bash environment
        echo "export CONTAINER_NAME=${CONTAINER_NAME}" >> ${BASH_ENV}
        echo "export DOCKER_TAG=${DOCKER_TAG}" >> ${BASH_ENV}
        echo "export DOCKERFILE=${DOCKERFILE}" >> ${BASH_ENV}
        cat ${BASH_ENV}


dockerload: &dockerload
    name: Load Docker container Image
    no_output_timeout: 30m
    command: | 
      echo "Working directory is ${PWD}"
      docker info
      set +o pipefail
      if [ -f /tmp/cache/container.tar.gz ]; then
          apk update && apk add --no-cache pigz curl curl-dev
          pigz -d --stdout /tmp/cache/container.tar.gz | docker load
          docker images
      fi


dockersave: &dockersave
    name: Docker Save
    no_output_timeout: 40m
    command: |
        source ${BASH_ENV}
        echo "Saving ${CONTAINER_NAME} to container.tar.gz"
        mkdir -p /tmp/cache
        docker save ${CONTAINER_NAME} \
          | pigz -2 -p 3 > /tmp/cache/container.tar.gz


dockerdeploy: &dockerdeploy
    name: Deploy to Docker Hub
    no_output_timeout: 40m
    command: |
      source ${BASH_ENV}
      docker images
      echo "Container name set to ${CONTAINER_NAME}"
      if [[ -n "$DOCKER_PASS" ]]; then
            docker login -u $DOCKER_USER -p $DOCKER_PASS quay.io
            SREGISTRY_VERSION=$(docker run "${CONTAINER_NAME}:latest" version)
            echo "Tagging latest image..."
            docker tag ${CONTAINER_NAME}:latest ${CONTAINER_NAME}:${SREGISTRY_VERSION}
            docker push ${CONTAINER_NAME}:latest
            docker push ${CONTAINER_NAME}:${SREGISTRY_VERSION}
      fi

dockerbuild: &dockerbuild
    name: Build development Docker container
    command: |
      source ${BASH_ENV}
      docker build -f ${DOCKERFILE} -t ${CONTAINER_NAME} .


install_python: &install_python
  name: Install pylint and pytest
  command: |
      which python
      python --version
      sudo pip3 install --upgrade pylint pytest

# Test Singularity Registry Client

run_linter: &run_linter
  name: run linter
  command: |
     cd /tmp/src
     pylint sregistry


test_sregistry: &test_sregistry
  name: Test Singularity Registry Client
  command: |
        cd /tmp/src
        sudo python setup.py install
        pytest sregistry
        

################################################################################
# Jobs
################################################################################


version: 2
jobs:

  test-python-3:
    <<: *defaults
    docker:
      - image: circleci/python:3.6.4
    steps:
      - checkout
      - setup_remote_docker     
      - run: *install_python
      - run: *run_linter
      - run: *test_sregistry

  build:
    <<: *defaults
    docker:
    - image: docker:18.01.0-ce-git
    steps:
      - checkout
      - restore_cache:
          keys:
            - docker-v1-{{ .Branch }}
          paths:
            - /tmp/cache/container.tar.gz
      - restore_cache:
          key: dependency-cache
      - setup_remote_docker
     
      - run: *dockerenv
      - run: *install
      - run: *dockerload
      - run: *dockerbuild
      - run: *dockersave
      - persist_to_workspace:
            root: /tmp
            paths:
                - src
                - cache

  update_cache:
    <<: *defaults
    docker:
    - image: docker:18.01.0-ce-git
    steps:
      - attach_workspace:
          at: /tmp
      - save_cache:
         key: docker-v1-{{ .Branch }}
         paths:
            - /tmp/cache/container.tar.gz

  deploy:
    <<: *defaults
    docker:
    - image: docker:18.01.0-ce-git
    steps:
      - attach_workspace:
          at: /tmp
      - setup_remote_docker
      - run: *dockerenv
      - run: *dockerload
      - run: *dockerdeploy


################################################################################
# Workflows
################################################################################


workflows:
  version: 2
  build_deploy:
    jobs:

      - test-python-3:
          filters:
            branches:
              ignore: 
                - master

      - build:
          requires:
            - test-python-3
          filters:
            branches:
              ignore: 
                - gh-pages
                - /docs?/.*/
            tags:
              only: /.*/

      - update_cache:
          requires:
            - build
          filters:
            branches:
              ignore: 
                - gh-pages
                - /docs?/.*/
            tags:
              only: /.*/

      - deploy:
          requires:
            - build
            - update_cache
          filters:
            branches:
              only: 
                - master
            tags:
              only: /.*/
